<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

.button{
    margin: auto;
}
.center { 
    align: center; 
}
    </style>  
    
    </head>
<body>
<div id="app1">
  <div class="container">
   <header><h1> {{ title }} </h1></header>
   <form class="form">
     <div class="input-group mb-3">
       <input type="text" class="form-control" placeholder="New Task" v-model="newTask">
       <!-- <input type="text" class="form-control" placeholder="New Task" id="itemForm"> -->
       <div class="input-group-append">
         <button class="btn btn-primary" v-on:click="items.push(newTask)" type="button">Add Task</button>
       </div>
     </div>
   </form>
   
   <table class="table table-striped table-dark">
     
    <thead>
       <tr>
         <th scope="col">Tasks</th>
       </tr>
     </thead>

     <tbody>
       <tr v-for="(item,index) in items">
        <!-- <th scope="row">{{item.text}}<button v-on:click="deleteItem(index)" class="btn btn-danger">X</button></th> -->
        <th scope="row" width="95%">{{item}}</th>
        <th><button v-on:click="deleteItem(index)" class="btn btn-danger" >Remove</button></th>
        <!-- <th scope="row">{{item.text}} <div class="button" v-on:click="deleteItem(index)" class="center">X</div></th> -->
       </tr>
     </tbody>

   </table>




  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="Scripts/1.js"></script>
</body>

</html>